  /*
   * Define tipproject colors.
   */

  $tipproject-mouse-over-color-dark: #003366;

  $tipproject-button-hover: #0062a8;

  $tipproject-main-color: #0064a6;

  $tipproject-key-color: #0074bc;

  $tipproject-highlight-color: #99c7e4;

  $tipproject-mouse-over-color-light: #d6e9f4;

  $tipproject-black: #282828;

  $tipproject-dark-grey: #6f6f6f;

  $tipproject-medium-grey: #b2b2b2;

  $tipproject-grey: #d3d3d3;

  $tipproject-control-bar-grey: #e1e1e1;

  $tipproject-view-mode-grey: #eaeaea;

  $tipproject-light-grey: #f4f4f4;

  $tipproject-white: #ffffff;

  $tipproject-red: #e3000f;

  $tipproject-green: #94c11c;

  $tipproject-dark-green: #576f1e;

  $tipproject-yellow: #fbba00;

  $tipproject-background: $tipproject-white;
