
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Plus imports for other components in your app.
@import 'fonts';
@import "colors";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tipproject-browser-frontend-primary: mat-palette($mat-indigo);
$tipproject-browser-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tipproject-browser-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tipproject-browser-frontend-theme: mat-light-theme($tipproject-browser-frontend-primary, $tipproject-browser-frontend-accent, $tipproject-browser-frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tipproject-browser-frontend-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Segoe UI Regular, sans-serif; }

.tipproject-background {
  background: $tipproject-background;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.tipproject-button-1.mat-button {
  background: $tipproject-white;
  border: 2px solid $tipproject-green;
  color: $tipproject-green;
  border-radius: 10px;
}

.tipproject-button-1.mat-button:hover:enabled {
  background: $tipproject-light-grey;
  border: 2px solid $tipproject-green;
  color: $tipproject-green;
  border-radius: 10px;
}

.tipproject-top-panel {
  background: $tipproject-green;
  margin: 0;
  padding: 25px;
  min-height: 150px;
}

.tipproject-top-panel-h1 {
  font-family: Segoe UI Bold, serif;
  font-size: 50px;
  color: $tipproject-white;
  max-width: 500px;
}

//.center {
//  display: flex;
//  justify-content: center;
//}

.center-bottom {
  display: flex;
  justify-content: center;
  bottom: 0;
}


