@import "../../colors";

.welcome-card {
  padding: 50px;
}

.welcome-card-header {
}

.welcome-card-header-title {
  color: $tipproject-green;
  font-size: 30pt;
}

.welcome-card-content {
  padding-left: 75px;
}

.welcome-card-actions {
  padding-left: 75px;
}

.welcome-top-panel {
  min-height: 500px;
  background: $tipproject-green;
  align-items: center;
}

.welcome-top-panel-grid {
  padding: 0;
  margin: 0;
}

.welcome-top-panel-grid-tile {
  padding: 0;
  margin: 0;
}

.welcome-top-panel-grid-tile-img {
  vertical-align: bottom;
  vert-align: bottom;
}

.welcome-top-panel-h1 {
  font-family: Segoe UI Bold, serif;
  font-size: 50px;
  color: $tipproject-white;
  max-width: 500px;
}
