<div class="tipproject-background">
  <app-header [user]="user" [title]="title"></app-header>

  <div class="welcome-top-panel">

    <div class="center">
      <h1 class="welcome-top-panel-h1">
        TEST TEST TEST TEST TEST
      </h1>
    </div>

    <!--    <div>-->
    <!--      <mat-grid-list cols="3" class="welcome-top-panel-grid">-->
    <!--        <mat-grid-tile [rowspan]="1" [colspan]="1" class="welcome-top-panel-grid-tile">-->
    <!--          <img src="assets/bargeldlos-trinkgeld-senden.png">-->
    <!--        </mat-grid-tile>-->
    <!--        <mat-grid-tile [rowspan]="1" [colspan]="1" class="welcome-top-panel-grid-tile">-->
    <!--          <img src="assets/bargeldlos-trinkgeld-senden.png" class="welcome-top-panel-grid-tile-img">-->
    <!--        </mat-grid-tile>-->
    <!--        <mat-grid-tile [rowspan]="1" [colspan]="1" class="welcome-top-panel-grid-tile">-->
    <!--          <img src="assets/bargeldlos-trinkgeld-senden.png">-->
    <!--        </mat-grid-tile>-->
    <!--      </mat-grid-list>-->
    <!--    </div>-->

  </div>

  <mat-card class="welcome-card">
    <mat-card-header class="welcome-card">
      <mat-card-title class="welcome-card-header-title">Sekundenschnell Trinkgeld senden</mat-card-title>
    </mat-card-header>
    <mat-card-content class="welcome-card-content">
      <p>
        Mit TipProject können Sie ganz einfach Trinkgeld senden - z.B. dem Pizzaliferanten, der Ihnen gerade eine
        frische Pizza geliefert hat.
      </p>
    </mat-card-content>
    <mat-card-actions class="welcome-card-actions">
      <button class="tipproject-button-1" mat-button>Jetzt Trinkgeld senden</button>
    </mat-card-actions>
  </mat-card>

  <!--  <div>-->
  <!--    <h1>Sekundenschnell Trinkgeld senden</h1>-->
  <!--    <div>-->
  <!--      <p>Mit TipProject können Sie ganz einfach Trinkgeld senden - z.B. dem Pizzaliferanten, der Ihnen gerade eine-->
  <!--        frische Pizza geliefert hat.</p>-->
  <!--      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <!--    </div>-->
  <!--    <button mat-button class="tipproject-button-1">Jetzt Trinkgeld senden</button>-->
  <!--  </div>-->

</div>
