@import "../../../colors";

.grid-container {
  margin: 20px;
}

.user-dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.user-dashboard-card-content {
  text-align: center;
}

.user-dashboard-card-profile {
  padding: 50px;
}

.user-dashboard-profile-input {

}

.user-dashboard-profile-input.mat-form-field {
  min-width: 425px;
}
