<app-header [user]="user" [title]="title"></app-header>

<mat-tab-group dynamicHeight>

  <mat-tab label="Übersicht">
    <div class="grid-container">
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-card class="user-dashboard-card">
            <mat-card-header>
              <mat-card-title>
                Letzte Transaktionen
                <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>Card Content Here</div>
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">

          <mat-card class="user-dashboard-card">
            <mat-card-header>
              <mat-card-title>
                Transaktionsverlauf
                <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>Card Content Here</div>
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">

          <mat-card class="user-dashboard-card">
            <mat-card-header>
              <mat-card-title>
                Verbundene Unternehmen
                <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>Card Content Here</div>
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>

      </mat-grid-list>
    </div>
  </mat-tab>

  <mat-tab label="Transaktionen">
    <div class="">
      Transktionen
    </div>
  </mat-tab>

  <mat-tab label="Profil">
    <div class="user-dashboard-card-profile">
      <mat-form-field appearance="fill" class="user-dashboard-profile-input">
        <mat-label>E-Mail</mat-label>
        <input [disabled]="true" [value]="user.email" matInput>
      </mat-form-field>

      <br/>

      <mat-form-field appearance="fill" class="user-dashboard-profile-input">
        <mat-label>Vorname</mat-label>
        <input [value]="user.firstName" matInput>
      </mat-form-field>

      <br/>

      <mat-form-field appearance="fill" class="user-dashboard-profile-input">
        <mat-label>Nachname</mat-label>
        <input [value]="user.name" matInput>
      </mat-form-field>

      <br/>

      <mat-form-field appearance="fill" class="user-dashboard-profile-input">
        <mat-label>Telefon</mat-label>
        <input [value]="user.contactData.phone" matInput type="tel">
      </mat-form-field>

      <br/>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Adresse
          </mat-panel-title>
          <mat-panel-description>
            Ändere deine Adressdaten
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="user-dashboard-profile-input">
          <mat-label>Straße</mat-label>
          <input [value]="user.address.street" matInput>
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill" class="user-dashboard-profile-input">
          <mat-label>Postleitzahl</mat-label>
          <input [value]="user.address.zipCode" matInput>
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill" class="user-dashboard-profile-input">
          <mat-label>Ort</mat-label>
          <input [value]="user.address.city" matInput>
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill" class="user-dashboard-profile-input">
          <mat-label>Land</mat-label>
          <mat-select [value]="user.address.country">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-expansion-panel>
    </div>
  </mat-tab>

  <mat-tab label="Empfänger werden">
    <div class="">
      Empfänger werden
    </div>
  </mat-tab>

</mat-tab-group>


