@import "../../colors";

.header-toolbar {
  margin: 0;
  padding: 25px;
  min-height: 55px;
  background: $tipproject-green;
  border-bottom: 1px solid $tipproject-white;
}

.header-toolbar.mat-toolbar {
  margin: 0;
  padding: 25px;
  min-height: 55px;
}

.header-toolbar .mat-toolbar-row {
  height: 55px;
}

.header-menu.mat-raised-button {
  background: transparent;
  border: 2px solid $tipproject-white;
  color: $tipproject-white;
  border-radius: 10px;
}

.header-menu.mat-raised-button:hover:enabled {
  background: $tipproject-dark-green;
  border: 2px solid $tipproject-white;
  color: $tipproject-white;
  border-radius: 10px;
}

.header-menu.mat-button {
  margin-left: 10px;
  background: transparent;
  border: none;
  color: $tipproject-white;
}

.header-menu.mat-button:hover:enabled {
  margin-left: 10px;
  background: $tipproject-dark-green;
  border: none;
  color: $tipproject-white;
}
