<div class="tipproject-background">
  <mat-toolbar class="tipproject-background header-toolbar">
    <button mat-button>
      <mat-icon>monetization_on</mat-icon>
      <span style="color: white; margin-left: 10px">{{branding}}</span>
    </button>

    <h1 style="color: white; margin-left: 10px">{{title}}</h1>

    <div>
      <mat-menu #privateCustomersMenu="matMenu">
        <button mat-menu-item>TipProject kennenlernen</button>
        <button mat-menu-item>Trinkgeld senden</button>
        <button mat-menu-item>Trinkgeld empfangen</button>
        <button mat-menu-item>Freunde werben</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="privateCustomersMenu" class="header-menu">
        <span>Privatkunden</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>

    <div>
      <mat-menu #businessCustomersMenu="matMenu">
        <button mat-menu-item>Unser Geschäft</button>
        <button mat-menu-item>Mitarbeiter registrieren</button>
        <button mat-menu-item>Mitarbeiterpools erstellen</button>
        <button mat-menu-item>Punkte sammeln</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="businessCustomersMenu" class="header-menu">
        <span>Geschäftskunden</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>

    <div class="fill-remaining-space"></div>

    <div *ngIf="user != null">

      <mat-menu #userLoggedInMenu="matMenu">
        <button (click)="showUserDashboard()" mat-menu-item>Dashboard</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
      <button [matMenuTriggerFor]="userLoggedInMenu" class="header-menu" mat-button>
        <span>{{user?.name + ', ' + user?.firstName}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

    </div>

    <div *ngIf="user == null">

      <mat-menu #loginMenu="matMenu">
        <button mat-menu-item (click)="loginUser()">Privatkunde</button>
        <button mat-menu-item (click)="loginOrganization()">Geschäftskunde</button>
      </mat-menu>
      <button [matMenuTriggerFor]="loginMenu" class="header-menu" mat-raised-button>
        <span>LOGIN</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

    </div>

  </mat-toolbar>
</div>
